@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,900&family=Poppins:wght@300;400;500;600;700;800&family=Tapestry&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #8FAFD5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Playfair Display SC", 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    width: 100%;
    padding: 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: 0.45s;
}

#head-connec {
    position: absolute;
}

header.scrolled {
    width: 100%;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 7px 20px 0.1px rgba(0, 0, 0, 0.641);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
}



#Logo {
    position: relative;
    width: 110px;
    transition: 0.45s;
}



.title {
    position: relative;
    font-family: 'Cinzel', 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: #fff;
    padding-left: 90px;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: apparition 0.85s ease-out;
    list-style: none;
    opacity: 0.9;
    transition: 0.3s;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 13px 23px;
    font-family: "Poppins", 'Trebuchet MS', sans-serif;
    color: #fff;
    border-radius: 100px;
    transition: 0.5s;
}

nav ul li a:hover,
nav ul li a.active {
    background: #fff;
    color: black;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}


.lot_images {
    height: 100vh;
    box-shadow: inset 65px 65px 200px #4F83BF,
    inset -100px 0px 150px #7197C8;
}

#background-index{
    width: 100%;
    z-index: -1;
    position: absolute;
}

.txt-accueil {
    padding-top: 15%;
    font-family: 'Cinzel', 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    position: relative;
    font-size: 35px;
    color: #DCE6FF;
    text-align: center;
    text-shadow: 2px 1px 2px black;
}

.txt-accueil2 {
    font-family: 'Cinzel', 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
    color: #DCE6FF;
    text-align: center;
    text-shadow: 2px 1px 2px black;
    display: block ruby;
}

.gsb-titre2 {
    font-family: 'Cinzel', 'Trebuchet MS', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 50px;
    color: #c76932;
    text-shadow: 2px 1px 2px black;
}


.gsb-titre {
    position: relative;
    padding-top: 1%;
    font-family: 'Cinzel', 'Trebuchet MS', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 50px;
    text-align: center;
    color: #3d9eff;
    text-shadow: 2px 1px 2px black;
}

.sec-txt {
    text-align: justify;
    height: fit-content;
    box-shadow: inset 65px 65px 200px #4F83BF,
        inset -100px -100px 150px #7197C8;
    padding: 0 0 100px 0;
}

.title-txt {
    position: relative;
    text-align: center;

}

.title-pres {
    position: relative;
    font-size: 40px;
    padding-top: 2%;
    text-align: center;
}

#img-pres {
    position: relative;
    width: 150px;
}

.txt-pres {
    padding-top: 2.5%;
    margin: auto;
    width: 75%;
    font-family: "Poppins", 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.download-app {
    padding: 100px 0 0 0;
    text-align: center;
    justify-content: space-between;
}

#GoogleP {
    width: 180px;
}

#AppleS {
    width: 180px;
}



/*_____________________________________________________________________________________________________________________________________ */
/* Image Scrool */
/*__________________________________*/

.scroll-downs {
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #000;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/*_____________________________________________________________________________________________________________________________________ */
/* CONNEXION PAGE*/
/*_____________________________________________________________________________________________________________________________________ */


#background-connec{
    width: 100%;
    z-index: -1;
    position: absolute;
}

.back-connec {
    height: 100vh;
}


nav ul li .a-connec {
    text-decoration: none;
    padding: 13px 23px;
    font-family: "Poppins", 'Trebuchet MS', sans-serif;
    color: #000;
    border-radius: 20px;
    transition: 0.5s;
}

nav ul li .a-connec:hover {
    background: #000;
    color: #fff;
}

.title-connec {
    padding-top: 3.5%;
    font-family: 'Cinzel', 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    position: relative;
    font-size: 40px;
    color: #DCE6FF;
    text-align: center;
    text-shadow: 2px 1px 2px black;
}


/*_____________________________________________________________________________________________________________________________________ */
/* FORMAULAIRE */
/*______________*/

.form-sec {
    position: relative;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    height: 70%;
    width: 50%;
    top: 5%;
    margin: auto;
}

.group-user {
    margin-top: 20%;
    position: relative;
}


.formulaire {
    text-align: center;
}

.input-group {
    position: relative;
}

.group-pass {
    position: relative;
}


.input-user {
    border: solid 3px #fff;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1.3rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-pass {
    border: solid 3px #fff;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1.3rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}


.input-user:focus,
.input-user:valid {
    outline: none;
    border: 3px solid #3cdce7;
}


.input-pass:focus,
.input-pass:valid {
    outline: none;
    border: 3px solid #3cdce7;
}


.log-in {
    position: absolute;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    bottom: 50px;
    right: 50px;
}

.log-in:hover {
    background-color: #3cdce7;
    box-shadow: 0px 15px 20px #14d9e0a2;
    color: #fff;
    border: 2px solid #3cdce7;
    transform: translateY(-7px);
}

.log-in:active {
    transform: translateY(-1px);
}

.pass-reset {
    position: absolute;
    padding: 1.3em 3em;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    bottom: 50px;
    left: 60px;
}

.pass-reset:hover {
    background-color: #e73c3c;
    box-shadow: 0px 15px 20px #e01e14a2;
    color: #fff;
    border: 2px solid #e73c3c;
    transform: translateY(-7px);
}

.pass-reset:active {
    transform: translateY(-1px);
}

#user-icon {
    width: 40px;
    position: relative;
    top: 10px;
}

#pass-icon {
    width: 40px;
    position: relative;
    top: 10px;

}

.cont {
    display: flex;
    align-items: center;
    transform: scale(1);
}

.check-p {
    position: relative;
    left: 33%;
    margin-top: 5%;
    font-size: 13px;
    font-style: italic;
    color: #fff;
    font-family: "Poppins", 'Trebuchet MS', sans-serif;

}

.check-connect {
    height: 1rem;
    width: 1rem;
    margin: 5px;
    display: inline-block;
    appearance: none;
    position: relative;
    background-color: #F2ECFF;
    border-radius: 15%;
    cursor: pointer;
    overflow: hidden;
    left: 33%;
    margin-top: 5%;
}

.check-connect::after {
    content: '';
    display: block;
    height: 0.9rem;
    width: .4rem;
    border-bottom: .10rem solid #a0ffe7;
    border-right: .10rem solid #a0ffe7;
    opacity: 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 21%;
    transition: .25s ease;
}

.check-connect::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    background-color: #3cdce7;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s ease;
}

.check-connect:checked::before {
    height: 130%;
    width: 130%;
    opacity: 100%;
}

.check-connect:checked::after {
    opacity: 100%;
}

span {
    font-size: 2rem;
}


/*_____________________________________________________________________________________________________________________________________ */
/* ACCUEIL */
/*______________*/

.log-out-btn {
    text-decoration: none;
    padding: 10px 20px;
    font-family: "Poppins", 'Trebuchet MS', sans-serif;
    color: #fff;
    border-radius: 100px;
    transition: 0.5s;
    background-color: #f5f5f500;
    border: none;
}

.log-out-btn:hover {
    background: #fff;
    color: black;
    cursor: pointer;
}

.log-out-btn:hover>#user-header {
    content: url("../Images/icons/user.png");
    transition: all .4s ease;
}

#user-header {
    width: 30px;
}






/*_____________________________________________________________________________________________________________________________________ */
/* Creation COMPTES PAGE*/
/*__________________*/


.back-add-acc {
    height: 100vh;
}

.form-add-acc {
    position: relative;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    height: 70%;
    width: 60%;
    top: 5%;
    margin: auto;
    font-size: 25px;
}

.formulaire-add-acc {
    padding-top: 5%;
    padding-left: 3%;
}

.role-add-acc {
    display: block;
    align-items: center;
    width: fit-content;
    font-size: 15px;
    transform: scale(1);
}

.sexe-add-acc {
    display: block;
    align-items: center;
    width: fit-content;
    font-size: 15px;
    transform: scale(1);
    padding-top: 25px;
}

.add-acc-group {
    position: relative;
    float: right;
    text-align: center;
    padding-right: 42%;
}

.role-choix {
    width: fit-content;
    font-size: 45px;
}

.create-acc {
    position: absolute;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    bottom: 50px;
    right: 50px;
}

.create-acc:hover {
    background-color: #3ce775;
    box-shadow: 0px 15px 20px #14e095a2;
    color: #fff;
    border: 2px solid #3ce775;
    transform: translateY(-7px);
}

.create-acc:active {
    transform: translateY(-1px);
}

.input-add-acc {
    border: solid 3px #c76932;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-add-acc:focus,
.input-add-acc:valid {
    outline: none;
    border: 3px solid #3cdce7;
}





/*_____________________________________________________________________________________________________________________________________ */
/* SUPPORT PAGE*/
/*_____________________________________________________________________________________________________________________________________ */

.back-supp {
    height: 100vh;
}

.form-supp {
    position: relative;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    height: 70%;
    width: 60%;
    top: 5%;
    margin: auto;
}

.text-field-supp {
    position: relative;
    left: 70px;
    top: 80px;
}

.support-group {
    position: relative;
    float: left;
}

.group-mail-supp {
    margin-top: 5%;
    position: relative;
}

.input-mail-supp {
    border: solid 3px #fff;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-mail-supp:focus,
.input-mail-supp:valid {
    outline: none;
    border: 3px solid #3cdce7;
}

.formulaire-support {
    padding-top: 5%;
    padding-left: 3%;
}

#field-text-supp {
    position: relative;
    left: 70px;
    top: 60px;
    border: solid 3px #fff;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

#field-text-supp:focus {
    outline: none;
    border: 3px solid #3cdce7;
}

.check-s {
    position: relative;
    bottom: 6px;
    font-size: 15px;
    font-style: italic;
    color: #000;
    font-family: "Poppins", 'Trebuchet MS', sans-serif;

}

.cont-support {
    padding-top: 10%;
    display: block;
    align-items: left;
    transform: scale(1);
}

.check-support {
    height: 1rem;
    width: 1rem;
    margin: 5px;
    display: inline-block;
    appearance: none;
    position: relative;
    background-color: #F2ECFF;
    border-radius: 15%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 7%;
}

.check-support::after {
    content: '';
    display: block;
    height: 0.9rem;
    width: .4rem;
    border-bottom: .10rem solid #a0ffe7;
    border-right: .10rem solid #a0ffe7;
    opacity: 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 21%;
    transition: .25s ease;
}

.check-support::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    background-color: #3cdce7;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s ease;
}

.check-support:checked::before {
    height: 130%;
    width: 130%;
    opacity: 100%;
}

.check-support:checked::after {
    opacity: 100%;
}

#app-supp {
    visibility: collapse;
}

/*_____________________________________________________________________________________________________________________________________ */
/* SUPPORT TICKETS PAGE */
/*______________*/

.back-tickets {
    height: 100vh;
    box-shadow: inset 10px 10px 300px #4F83BF,
     inset -50px 0px 50px #7197C8
}

.table{
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: rgba(0, 0, 0, 0.493) solid 2px;
}

th{
    text-align: inherit;
}

.table-dark td, .table-dark th{
    border-color: #32383e;
}

.table thead th{
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
}

.table thead td{
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
}

.table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #fff;
    border-top-color: #fff;
}

.container-table{
    max-width: 1480px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
}

.mt-3{
    margin-top: 1rem !important;
    overflow: auto;
    height: 70vh;
}

.table-dark{
    color: #fff;
    background-color: #7197C8;
}

#OKbutton {
    padding: 1em 2em;
    margin: 0.8em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    bottom: 50px;
    left: 60px;
}

#OKbutton:hover {
    background-color: #3ce775;
    box-shadow: 0px 15px 20px #14e095a2;
    color: #fff;
    border: 2px solid #3ce775;
    transform: translateY(-7px);
}

#OKbutton:active {
    transform: translateY(-1px);

}

#Supprbutton {
    margin: 0.8em;
    padding: 1em 2em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    bottom: 50px;
    left: 60px;
}

#Supprbutton:hover {
    background-color: #e73c3c;
    box-shadow: 0px 15px 20px #e01e14a2;
    color: #fff;
    border: 2px solid #e73c3c;
    transform: translateY(-7px);
}

#Supprbutton:active {
    transform: translateY(-1px);

}

/*_____________________________________________________________________________________________________________________________________ */
/* COMPTABLE GET FICHE PAGE */
/*______________*/

.back-fiches-forfait{
    height: 100vh;
}

#comptable-fiches-forfait{
    width: 100%;
    z-index: -1;
    position: absolute;
}

.Get-fiches-sec {
    top: 5%;
    align-items: center;

}

.left-side-fiche{
    width: max-content;
    padding-left: 20px;
}
.middle-left-fiche{
    width: max-content;
    padding-left: 20px;
}
.middle-right-fiche{
    width: max-content;
    padding-left: 20px;
}
.right-side-fiche{
    width: max-content;
    padding-left: 20px;
}

.confirm-side-fiche{
    width: max-content;
    padding-left: 20px;
}

.status-side-fiche{
    width: max-content;
    padding-left: 20px;
}

.dl-side-fiche{
    width: max-content;
    padding-left: 20px;
}


#statusimg{
    border-top: 1px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-top-color: #fff;
    width: 30px;
    margin: .29rem 1rem;
}

.table-fiches {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: rgba(0, 0, 0, 0.493) solid 2px;
}

th {
    text-align: inherit;
}

.table-dark-fiche td,
.table-dark-fiche th {
    border-color: #32383e;
}

.table-fiches thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
}

.table-fiches thead td {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
}

.table-fiches td,
.table-fiches th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #fff;
    border-top-color: #fff;
}

.container-table-fiches {
    max-width: max-content;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-top: 70px;
    display: flex;
}

.mt-3-fiche {
    margin-top: 1rem !important;
    overflow: auto;
    height: 70vh;
}

.table-dark-fiche {
    color: #fff;
    background-color: #396c38;
}

.titles-fiches-forfait-utilis{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    width: fit-content;
    backdrop-filter: blur(3px);
    background-color: #c76932b2;
    border-radius: 50px;
    color: #fff;
}

.titles-fiches-forfait-comptable{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    width: fit-content;
    backdrop-filter: blur(3px);
    background-color: #396c38b4;
    border-radius: 50px;
    color: #fff;
}
    

.fiche-type-get{
color: #396c38;
}

.fiche-type-get-utilis{
    color: #c76932;
}

.table-dark-fiche-utilis {
    color: #fff;
    background-color: #c76932;
}
    
.titles-fiches-forfait-utilis{
    padding-bottom: 10px;
    font-size: 20px;
}
    


#Validerbutton {
    padding: 0.5em 1.5em;
    margin: 0.895em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    bottom: 50px;
    left: 60px;
    
}

#Validerbutton:hover {
    background-color: #3ce775;
    box-shadow: 0px 15px 20px #14e095a2;
    color: #fff;
    border: 2px solid #3ce775;
    transform: translateY(-7px);
}

#Validerbutton:active {
    transform: translateY(-1px);

}

#Refuserbutton {
    margin: 0.8em;
    padding: 0.5em 1.5em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    bottom: 50px;
    left: 60px;
}

#Refuserbutton:hover {
    background-color: #e73c3c;
    box-shadow: 0px 15px 20px #e01e14a2;
    color: #fff;
    border: 2px solid #e73c3c;
    transform: translateY(-7px);
}

#Refuserbutton:active {
    transform: translateY(-1px);

}

.horsforfait2{
    position: absolute;
    padding: 1em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    right: 20px;
}

.horsforfait2:hover {
    background-color: #396c38;
    box-shadow: 0px 15px 20px #074714a2;
    color: #fff;
    border: 2px solid #396c38;
    transform: translateY(-7px);
}

.horsforfait2:active {
    transform: translateY(-1px);
}

.horsforfait3{
    position: absolute;
    padding: 1em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    right: 20px;
}

.horsforfait3:hover {
    background-color: #c76932;
    box-shadow: 0px 15px 20px #dd5e0aa2;
    color: #fff;
    border: 2px solid #c76932;
    transform: translateY(-7px);
}

.horsforfait3:active {
    transform: translateY(-1px);
}



/*_____________________________________________________________________________________________________________________________________ */
/* Création FICHE PAGE */
/*______________*/

.back-add-fiche {
    height: 100vh;
}

.add-fiche-group {
    display: inline-flex;
}

.form-add-fiche {
    position: relative;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    height: 70%;
    width: 65%;
    top: 5%;
    margin: auto;
    font-size: 25px;
}

.formulaire-add-fiche {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;

}

.add-acc-fiche {
    position: relative;
    float: right;
    text-align: center;
    padding-right: 42%;
}

.input-add-fiche {
    border: solid 3px #c76932;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-add-fiche:focus,
.input-add-fiche:valid {
    outline: none;
    border: 3px solid #3ce775;
}

.fiches-titre {
    font-size: 20px;
    padding-bottom: 5px;
    width: fit-content;
}


.div-fiche {
    width: fit-content;
}

.div-fiche-prix1{
    margin-top: 25px;
}

.prix1{
    display: inline;
    margin-left: 5px;
    font-size: 25px;
}

.div-fiche-prix2{
    margin-top: 25px;
}
.prix2{
    display: inline;
    margin-left: 5px;
    font-size: 25px;
}

.div-fiche-prix3{
    margin-top: 25px;
}
.prix3{
    display: inline;
    margin-left: 5px;
    font-size: 25px;
}



.fiches-transport {
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 15px;
}

.kms {
    font-size: 15px;
    display: inline;
}

.select-pf {
    margin-top: 20px;
    font-size: 20px;

}



/* NUITS CSS FICHE CREATION */
.Middle-left {
    width: 300px;
    padding-left: 40px;
}

.div-fiche-nuit {
    width: fit-content;
}

.fiches-nuits {
    font-size: 20px;
    padding-top: 170px;
    padding-bottom: 15px;
}

.nuits {
    font-size: 15px;
    width: fit-content;
    display: inline;
}

/* REPAS CSS FICHE CREATION */

.Middle-right {
    width: 300px;
    padding-left: 40px;
}

.div-fiche-repas {
    width: fit-content;
}

.fiches-repas {
    font-size: 20px;
    padding-top: 170px;
    padding-bottom: 15px;
}

.repas {
    font-size: 15px;
    width: fit-content;
    display: inline;
}



/*SELECTED TRANSPORT CSS FICHE CREATION */
.Left-side {
    width: fit-content;
}

.selectdiv {
    position: relative;
    /*Don't really need this just for demo styling*/

    float: left;
    min-width: 200px;
    margin-top: 50px;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

.selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/

    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #c76932;
    /*left line */

    position: absolute;
    pointer-events: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: transparent;
    background-image: none;
    border: 3px solid #c76932;
    border-radius: 1rem;
    -ms-word-break: normal;
    word-break: normal;
}

/* .selectdiv select:focus,.selectdiv select::after, .selectdiv select:valid {
    border: 3px solid #3ce775;
    outline: none;
} */

.PF {
    font-size: 15px;
    width: 100px;
    display: flex;
    padding-top: 60px;
    padding-left: 5px;
}

.Carburant {
    font-size: 15px;
    width: 100px;
    display: flex;
    padding-top: 70px;
    padding-left: 5px;
}

/*BUTTON PIECE JUSTIFICATIVE */

.icon-btn {
    width: 50px;
    height: 40px;
    bottom: 52px;
    right: 200px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s;

}

.add-btn:hover {
    width: 200px;
    background-color: #3ce775;
    box-shadow: 0px 15px 20px #14e095a2;
    border: 2px solid #3ce775;
    transition: 0.3s;
    cursor: pointer;
    transform: translateY(-7px);
}

.add-btn:active {
    transform: translateY(-1px);
}

.add-btn::before,
.add-btn::after {
    -webkit-transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: seagreen;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: seagreen;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.sendfile{
    position: absolute;
    top: -2px;
    left: -2px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

.horsforfait{
    position: absolute;
    padding: 1em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    right: 20px;
}

.horsforfait:hover {
    background-color: #c76932;
    box-shadow: 0px 15px 20px #e07d14a2;
    color: #fff;
    border: 2px solid #c76932;
    transform: translateY(-7px);
}

.horsforfait:active {
    transform: translateY(-1px);
}

.fiche-type{
    color: #c76932;
}
/*_____________________________________________________________________________________________________________________________________ */
/* Création FICHE HORS FORFAIT PAGE */
/*______________*/


.back-add-fiche-horsforfait {
    height: 100vh;
}






























/*_____________________________________________________________________________________________________________________________________ */
/* FOOTER */
/*______________*/


footer {
    background: linear-gradient(120deg, #c76932 70%, #4F83BF 30%);
    padding: 2% 3% 2% 3%;
    width: 100%;
    box-shadow: 7px 0px 20px 10px rgba(0, 0, 0, 0.641);
}


footer ul {
    list-style: none;
}

.footer-container {
    max-width: 100%;
    margin: auto;

}

.row {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(155, 155, 155);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    max-width: fit-content;
    color: #404040;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    padding-top: 0;
    width: 40px;
    background-color: #4b4b4b;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #4b4b4b;
    background-color: #fff
}

#foot-log {
    position: relative;
    width: 250px;
    left: 40%;
}

.rights {
    font-size: 13px;
    font-family: "Cinzel", 'Trebuchet MS', sans-serif;
    color: #fff;
    text-align: left;
    padding-left: 23%;
}



/* RESPONSIV*/
@media(max-width : 832px) {
    div.title {
        display: none;
    }

    .txt-accueil {
        padding-top: 30%;
        font-size: 20px;
    }

    .gsb-titre {
        font-size: 32px;
    }

    #foot-log {
        left: 60%;
        width: 180px;
        padding-bottom: 10%;
    }

}

@media(max-width : 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width : 574px) {
    .footer-col {
        width: 100%;
    }
}